@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 이걸로 칸나눠라 */
/* background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)); */

*{
    font-family: 'SUITE-Regular';
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #dbe9f6 15%, #fefcc9 44%, #f7d0d5 100%) no-repeat;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
a:visited,
a:link{
    color: inherit
}
header{
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 65px;
}

.title{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 65px;
    display: none;
}
/* 햄버거 판 */
.hem_pan{
    position: absolute;
    top: 100%;
    right: -160px;
}
.hem_pan_inner{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}
.hem_pan span{
    width: 140px;
    padding: 10px;
    /* border-bottom: 1px solid black; */

}
.hem_pan span:hover{
    cursor: pointer;
}
.hem_nav{
    font-size: 15px;
}
/* 햄버거버튼 */
.Responsive_hem{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background-color: inherit;
}
.line{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #003d61;
    transition: all 0.5s;
    border-radius: 30px;
}
.line_top { 
    top: 0px; 
}
.line_mid { 
    top: 50%; 
    transform: translateY(-50%); 
    transition: all 0s;
}
.line_bot {
    top: calc(100% - 5px) 
}
.mid_setting {top: 50%;transform: translateY(-50%); }
.rotate45 { transform: translateY(-50%) rotate(45deg);}
.rotate_45 { transform: translateY(-50%) rotate(-45deg);}



.header_inner{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #003d61;
    background-color: white;
    box-shadow: 0px 0px 3px 3px gray;
}
.h_nav_box{
    height: 100%;
}
.h_nav_box_inner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.bar{
    width: 100%;
    height: 2px;
    background-color: #003d61;
    opacity: 0;
}
.h_nav:hover .bar{
    opacity: 1;
}



/* 메인 배너 */
.section_1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner{
    width: 100%;
    height: 100%;
    background: url(../img/b2.png) no-repeat center center /cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;    
    z-index: 1;
}
.banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

.b_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    position: relative;
    z-index: 3;
    gap: 10px;
}

.b_txt span:nth-child(2){
    font-size: 25px;
}
.b_txt_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.b_txt_box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 3px solid white;
    z-index: -1;
}




/* 어바웃 미 */
.sec_box{
    margin: auto;
    max-width: 1300px;
    padding: 0px 50px;
    box-sizing: border-box;
}
.sec_inner{
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 30px 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.sec_inner::after{
    content: "";
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    border: 3px solid white;
    box-sizing: border-box;
}
.sec_title{
    text-align: center;
    margin: 0;
    padding: 20px;
}
.comment{
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.comment{
    padding-bottom: 0;
    padding-top: 20px;
}
.about_box_outer{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.img_box{
    width: 300px;
    height: 400px;
    background: url(../img/출력용1.jpg) no-repeat center center / cover;
    border-radius: 20px;
    border: 2px solid rgb(220, 146, 146);
}
.about_box{
    display: flex;
    flex-direction: column;
}
.about_L{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.about_title{
    font-size: 30px;
}
.about_box{
    border-left: 2px solid black;
    padding-left: 15px;
}


/* skill */
.skil_box_outer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 30px 0px;
}
.skil_box{
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}
.num_box{
    position: absolute;
    bottom: 100%;
    right: 0px;
    font-weight: bold;
}
.num_box span{
    font-size: 20px;
}
.skill{
    width: 11%;
    padding-bottom: 12.3%;
    position: relative;
    background-color: white;
}
.skill_bar{
    width: 70%;
    height: 17px;
    background-color: rgb(172, 209, 233);
    position: relative;
}
.bar_pos_box{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.bar_pos{
    width: 100%;
    height: 100%;
    background-color: #3b8daf;
    position: absolute;
    top: 0;
    right: 100%;
}
.skill_1{
    background: url(../img/skill/html.png) no-repeat center center / cover;
}
.skill_2{
    background: url(../img/skill/css.png) no-repeat center center / cover;
}
.skill_3{
    background: url(../img/skill/js.png) no-repeat center center / cover;
}
.skill_4{
    background: url(../img/skill/jquery.png) no-repeat center center / cover;
}
.skill_5{
    background: url(../img/skill/java.png) no-repeat center center / cover;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 3px;
}
.skill_6{
    background: url(../img/skill/mysql.png) no-repeat center center / cover;
}
.skill_7 div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/skill/react.png) no-repeat center center / contain;
    border: 2px solid skyblue;
    border-radius: 5px;
    box-sizing: border-box;
}
.skill_8{
    background: url(../img/skill/type.png) no-repeat center center / cover;
}






/* portfolio */
.portfolio_box{
    margin: auto;
    width: 95%;
    position: relative;
    z-index: 1;
    display: flex;
}
.portfolio_box::after{
    content: "";
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    border: 3px solid white;
    box-sizing: border-box;
}
.sec4_inner{
    /* display: flex;
    gap: 30px; */
    overflow: hidden;
}
.pf_txt_outer{
    float: right;
    width: 55%;
}
.pf_title{
    font-weight: bold;
    font-size: 25px;
}
button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    background-color: rgb(255, 205, 77);
    border-radius: 5px;
    color: white;
    border: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    border: 1px solid gray;
}
.portfolio_txt{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    gap: 15px;
}
.portfolio_img{
    width: 40%;
    padding-bottom: 28%;
    float: left;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: 1px solid #c94859;
}
.pf_img1{
    background: url(../img/pf_1.png) no-repeat center center /cover;
}
.pf_img2{
    background: url(../img/pf_2.png) no-repeat center center /cover;
}









/* contact */

.contact_box{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.contact_div{
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.contact_div div{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.contact_div img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.contact_div div:hover{
    transform: rotate(20deg);
}



@media screen and (max-width:1024px) {
    .b_txt{
        font-size: 40px;
    }
    .b_txt span:nth-child(2){
        font-size: 25px;
    }
    .about_box_outer{
        gap: 80px;
    }
    .skill{
        width: 17%;
        padding-bottom: 18.7%;
    }
    .contact_box{
        gap: 80px;
    }
    .sec4_inner{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .pf_txt_outer{
        float: none;
        width: 100%;
    }
    .portfolio_img{
        width: 100%;
        float: none;
        padding-bottom: 55%;
    }
    .btn_nox{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
@media screen and (max-width:768px) {
    .b_txt_box{
        width: 250px;
        height: 250px;
    }
    .b_txt{
        font-size: 28px;
    }
    .b_txt span:nth-child(2){
        font-size: 23px;
    }
    .about_box_outer{
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .skill{
        width: 14%;
        padding-bottom: 15.7%;
    }
    .skil_box_outer{
        flex-direction: column;
    }
    .skil_box{
        width: 100%;
    }
    .sec5_inner{
        padding: 30px 0px;
    }
    .contact_box{
        gap: 30px;
    }
    .pf_txt_outer{
        align-items: center;
    }
}

@media screen and (max-width: 600px){ 
    .contact_box{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:480px) {
    .sec_box{
        padding: 0px 20px;
    }
    .b_txt_box{
        width: 200px;
        height: 200px;
    }
    .b_txt{
        font-size: 4.5vw;
    }
    .b_txt span:nth-child(2){
        font-size: 4vw;
    }
    .about_R{
        width: 100%;
    }
    .img_box{
        margin: auto;
        width: 80%;
        height: 0;
        padding-bottom: 100%;
    }
    .skill{
        width: 18%;
        padding-bottom: 20%;
    }
    .about_box_outer{
        box-sizing: border-box;
        padding: 0px 10px;
    }
    .contact_box{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}